<!DOCTYPE html>
<html>
  <head>
    <title>Lista de tracks</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Canciones y artistas</h1>
    <table class="content-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Artistas</th>
        </tr>
      </thead>
      <tbody>
        <ul>
          {% for t in tracks %}
          <tr>
            <td>{{ t['name'] }}</td>
            <td>{{ t['artistas'] }}</td>
          </tr>
          {% endfor %}
        </ul>
      </tbody>
    </table>
  </body>
</html>

<!-- <table class="content-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Artistas</th>
    </tr>
  </thead>
  <tbody>
    <ul>
      {% for t in tracks %}
        <tr>
          <td>{{ t['name'] }}</td>
          <td>{{ t['artistas'] }}</td>
        </tr>
      {% endfor %}
    </ul>
  </tbody>
</table> -->
